<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a01f759d-ac7f-4bfa-b87b-49976dfe9aa4/resourcegroups/GestaoDinheiro20180620034242ResourceGroup/providers/Microsoft.Web/sites/GestaoDinheiro</ResourceId>
    <ResourceGroup>GestaoDinheiro20180620034242ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gestaodinheiro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gestaodinheiro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GestaoDinheiro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GestaoDinheiro</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=gestaodinheiroserver.database.windows.net;Initial Catalog=GestaoDinheiroDB;User ID=GestaoDinheiro;Password=Daniel1234." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GestaoDinheiro.Models.ApplicationDbContext, GestaoDinheiro" MigrationConfiguration="GestaoDinheiro.Migrations.Configuration, GestaoDinheiro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=gestaodinheiroserver.database.windows.net;Initial Catalog=GestaoDinheiroDB;User ID=GestaoDinheiro;Password=Daniel1234.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>